%fs-1 {
	font-size: 14px;
	font-weight: 400;
	line-height: 16.94px;
}

%fs-2 {
	font-size: 16px;
	font-weight: 600;
	line-height: 19.36px;
}

%fs-3 {
	font-size: 20px;
	font-weight: 600;
	line-height: 24.2px;
}

%dark-gradient {
	background: linear-gradient(180deg, #0e0e0e 0%, #0e0f18 100%) !important;
}
