.upcoming {
	position: relative;
	padding: 90px 0px;
	background: linear-gradient(180deg, #080f25 0%, #000000 100%);

	@include max(991px) {
		padding: 60px 0px;
	}

	&-action {
		display: flex;
		margin-top: 75px;
		justify-content: center;
	}
}
