.partner {
	position: relative;
	padding: 60px 0px;
	background: linear-gradient(180deg, #000000 0%, #121313 100%);

	.swiper-wrapper {
		display: flex;
		align-items: center;
	}

	&-content {
		display: flex;
		align-items: center;
		justify-content: center;
		a {
			img {
				filter: grayscale(100%);
				transition: all 0.3s linear;

				&:hover {
					filter: grayscale(0%);
				}
			}
		}
	}

	&-action {
		display: flex;
		margin-top: 50px;
		justify-content: center;
	}
}
