.event-card {
	position: relative;

	&__img {
		width: 100%;
		height: 260px;
		overflow: hidden;
		position: relative;
		border-radius: 10px;
		display: inline-block;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			transform: scale(1);
			transition: all 0.3s linear;
		}
	}

	&__name,
	&__date {
		position: absolute;
	}

	&__name {
		left: 50%;
		width: 90%;
		bottom: 20px;
		transform: translateX(-50%);
		border: 24px solid #141414;
		border-left: 15px solid transparent;
		border-right: 15px solid transparent;
		p {
			font-size: 18px;
			line-height: 21.78px;
			text-transform: uppercase;
			font-weight: 600;
			top: 50%;
			left: 50%;
			color: #fff;
			position: absolute;
			transform: translate(-50%, -50%);
		}
	}

	&__date {
		top: -6px;
		right: 18px;
		width: 0px;
		height: 60px;
		display: flex;
		padding-top: 4px;
		align-items: center;
		justify-content: center;
		box-sizing: border-box;
		border: 1px solid transparent;
		border-bottom: 10px solid transparent;
		border-top: none;
		border-left: 20px solid #da6b05;
		border-right: 20px solid #da6b05;

		p {
			color: #fff;
			@extend %fs-1;
			display: flex;
			font-weight: 600;
			text-align: center;
			align-items: center;
			justify-content: center;
			flex-direction: column;

			span {
				font-size: 13px;
				line-height: 15.73px;
				display: inline-block;
				text-transform: uppercase;
			}
		}
	}

	&:hover {
		.event-card {
			&__img {
				img {
					transform: scale(1.1);
				}
			}
		}
	}
}

.obsidian-card {
	overflow: hidden;
	position: relative;

	&__img {
		width: 100%;
		opacity: 0.6;
		height: 511px;
		overflow: hidden;
		position: relative;
		display: inline-block;
		transition: all 0.3s linear;

		@include max(767px) {
			height: 420px;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			transform: scale(1);
			transition: all 0.3s linear;
		}
	}

	&__info {
		left: 0;
		bottom: 0;
		width: 100%;
		padding: 30px 20px;
		padding-bottom: 42px;
		position: absolute;
		background: linear-gradient(
			180deg,
			rgba(0, 0, 0, 0) 0%,
			rgba(0, 0, 0, 0.546875) 50%,
			#000000 100%
		);
		h2,
		p {
			text-transform: uppercase;
		}

		h2 {
			color: #fff;
			font-size: 34px;
			font-weight: 400;
			margin-bottom: 5px;
			line-height: 41.15px;

			@include max(767px) {
				font-size: 24px;
				line-height: 36px;
			}
		}

		p {
			color: #f79c32;
			font-size: 16px;
			line-height: 19.36px;

			@include max(767px) {
				font-size: 14px;
				line-height: 24px;
			}
		}
	}

	&:hover {
		.obsidian-card {
			&__img {
				opacity: 1;
				img {
					transform: scale(1.1);
				}
			}
		}
	}
}

.membership-card {
	overflow: hidden;
	position: relative;
	border-radius: 20px;
	padding: 34px 20px;
	padding-bottom: 20px;
	transition: all 0.3s linear;
	background-color: #131313;
	border: 1px solid #282828;

	&:hover {
		.membership-card {
			&__action {
				.button {
					color: #000000;
				}
			}
		}
	}

	&__info {
		margin-bottom: 35px;
		img {
			margin-bottom: 20px;
			display: inline-block;
		}

		h2 {
			color: #fff;
			font-size: 26px;
			font-weight: 700;
			line-height: 31.47px;
			text-transform: uppercase;
		}
	}

	&__pack-info {
		padding-bottom: 40px;
		li {
			display: flex;
			align-items: center;
			margin-bottom: 12px;

			img {
				margin-right: 10px;
				display: inline-block;
			}

			p {
				margin: 0;
				color: #8f8f8f;
				font-size: 14px;
				font-weight: 500;
				line-height: 16.94px;
				transition: all 0.2s ease-in;

				&:hover {
					color: #fff;
				}
			}
		}
	}

	&__action {
		.button {
			width: 100%;
			text-align: center;
			border-color: #3a3a3a;
			transition: all 0.3s linear;
		}
	}

	.label {
		top: 0;
		right: 0;
		width: 110px;
		height: 24px;
		color: #000;
		display: flex;
		font-size: 11px;
		position: absolute;
		align-items: center;
		line-height: 13.31px;
		background-color: #fff;
		justify-content: center;
		text-transform: capitalize;
		border-top-right-radius: 24px;
		border-bottom-left-radius: 24px;
	}

	&--copper {
		&:hover {
			border-color: #bc8959;
			.membership-card {
				&__action {
					.button {
						background: linear-gradient(
							308.51deg,
							#975416 -0.02%,
							#e0bc9b 48.96%,
							#94663c 100.01%
						);
					}
				}
			}
		}
	}

	&--silver {
		&:hover {
			border-color: #d7d7d7;
			.membership-card {
				&__action {
					.button {
						background: linear-gradient(
							308.51deg,
							#777777 -0.02%,
							#e7e7e7 48.96%,
							#545454 100.01%
						);
					}
				}
			}
		}
	}

	&--gold {
		&:hover {
			border-color: #cc9c2d;
			.membership-card {
				&__action {
					.button {
						background: linear-gradient(
							308.51deg,
							#e4c144 -0.02%,
							#ab6c0e 50.52%,
							#eae0ab 100.01%
						);
					}
				}
			}
		}
	}

	&--obsidian {
		&:hover {
			border-color: #ff921c;
			.membership-card {
				&__action {
					.button {
						background: linear-gradient(
							308.51deg,
							#fe7e07 -0.02%,
							#ffde67 100.01%
						);
					}
				}
			}
		}
	}
}
