.input-field {
	position: relative;

	input {
		color: #fff;
		@extend %fs-1;
		width: 100%;
		padding: 15px 16px;
		border-radius: 10px;
		transition: all 0.2s linear;
		background-color: transparent;
		border: 1px solid rgba(77, 77, 77, 1);

		&::placeholder {
			opacity: 0.5;
		}

		&:focus {
			border-color: #fff;
		}
	}

	&-two {
		position: relative;
		border-radius: 10px;
		padding: 20px 16px;
		padding-top: 10px;
		background: #1b1b1b;
		border: 1px solid #aca8a8;

		@include max(767px) {
			padding: 12px;
		}

		legend,
		label {
			margin: 0;
		}

		legend {
			float: none;
			width: auto;
			font-size: 0px;
			line-height: 0px;
		}

		label {
			font-size: 13px;
			font-weight: 400;
			padding: 0px 4px;
			line-height: 15.73px;
			text-transform: capitalize;
			color: rgba(255, 255, 255, 0.5);
		}

		input {
			color: #fff;
			@extend %fs-1;
			width: 100%;
			background-color: inherit;
		}

		// dropdown
		.bv_atual.bv_background {
			padding: 0px;
			border: 0px;
			background-color: transparent;
		}
		.bv_mainselect {
			padding: 6px 0px;
			.bv_atual {
				@extend %fs-1;
				color: rgba(255, 255, 255, 0.5);
			}
		}
		.arrows_bv {
			display: none;
		}

		.bv_ul_inner {
			color: #fff;
			max-height: 220px;
			width: 96% !important;
			border-color: transparent;
			background: linear-gradient(
				149.83deg,
				#2f2e2e 0%,
				rgba(22, 22, 22, 0.780482) 22.32%,
				rgba(54, 54, 54, 0.526042) 48.19%,
				rgba(31, 31, 31, 0.19812) 67.97%,
				rgba(109, 109, 109, 0) 82.18%
			);
			li {
				color: #fff;

				&:hover {
					color: #1b1b1b;
				}
			}
		}

		&.date {
			input {
				color: transparent;
				font-size: 16px;
				line-height: 19.36px;
				padding-left: 32px;

				&:focus {
					color: #fff;
					font-size: 12px;
				}
			}
			span {
				top: calc(50% - 4px);
				left: 16px;
				position: absolute;
				transform: translateY(-50%);
			}
		}
	}
}
