.dot-pulse {
	position: relative;
	left: -9999px;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	// background-color: #ffdf34;
	background: linear-gradient(180deg, #ffdf34 0%, #ff922e 100%);
	color: #ffdf34;
	box-shadow: 9999px 0 0 -5px #ffdf34;
	animation: dotPulse 1.5s infinite linear;
	animation-delay: 0.25s;
}

.dot-pulse::before,
.dot-pulse::after {
	content: "";
	display: inline-block;
	position: absolute;
	top: 0;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background: linear-gradient(180deg, #ffdf34 0%, #ff922e 100%);

	color: #ffdf34;
}

.dot-pulse::before {
	box-shadow: 9984px 0 0 -5px #ffdf34;
	animation: dotPulseBefore 1.5s infinite linear;
	animation-delay: 0s;
}

.dot-pulse::after {
	box-shadow: 10014px 0 0 -5px #ffdf34;
	animation: dotPulseAfter 1.5s infinite linear;
	animation-delay: 0.5s;
}

@keyframes dotPulseBefore {
	0% {
		box-shadow: 9984px 0 0 -5px #ffdf34;
	}
	30% {
		box-shadow: 9984px 0 0 2px #ffdf34;
	}
	60%,
	100% {
		box-shadow: 9984px 0 0 -5px #ffdf34;
	}
}

@keyframes dotPulse {
	0% {
		box-shadow: 9999px 0 0 -5px #ffdf34;
	}
	30% {
		box-shadow: 9999px 0 0 2px #ffdf34;
	}
	60%,
	100% {
		box-shadow: 9999px 0 0 -5px #ffdf34;
	}
}

@keyframes dotPulseAfter {
	0% {
		box-shadow: 10014px 0 0 -5px #ffdf34;
	}
	30% {
		box-shadow: 10014px 0 0 2px #ffdf34;
	}
	60%,
	100% {
		box-shadow: 10014px 0 0 -5px #ffdf34;
	}
}
