.input-field input, .footer-top p, .footer-copyright p, .footer-info li p, .footer-contact .button {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li {
  margin: 0;
}

ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input,
button {
  border: 0px;
}

input:focus,
button:focus {
  outline: none;
  box-shadow: none;
}

a {
  text-decoration: none;
}

a:hover, a:focus {
  color: inherit;
}

button {
  display: inline-block;
  background-color: transparent;
}

body {
  font-weight: 400;
  font-family: "Inter", sans-serif;
}

.button {
  color: #fff;
  font-size: 14px;
  z-index: 1;
  position: relative;
  font-weight: 600;
  overflow: hidden;
  padding: 12px 35px;
  border-radius: 6px;
  line-height: 16.94px;
  display: inline-block;
  text-transform: uppercase;
  border: 1px solid #ffffff;
  background-color: transparent;
  transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
}

.button:hover {
  color: #000;
  background-color: transparent;
}

.button::after {
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  z-index: -1;
  position: absolute;
  mix-blend-mode: lighten;
  background-color: #fff;
  transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
}

.button:hover::after {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.input-field {
  position: relative;
}

.input-field input {
  color: #fff;
  width: 100%;
  padding: 15px 16px;
  border-radius: 10px;
  transition: all 0.2s linear;
  background-color: transparent;
  border: 1px solid #4d4d4d;
}

.input-field input::placeholder {
  opacity: 0.5;
}

.input-field input:focus {
  border-color: #fff;
}

.banner {
  overflow: hidden;
  position: relative;
}

.banner .swiper-slide {
  z-index: 1;
  display: flex;
  height: 100vh;
  position: relative;
  align-items: center;
}

@media (max-width: 767px) {
  .banner .swiper-slide {
    height: auto;
    padding: 120px 0px;
  }
}

.banner .swiper-slide::after {
  top: 0;
  left: 0;
  z-index: -1;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(107.15deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.47) 50%, rgba(0, 0, 0, 0) 100%);
}

.banner .swiper-pagination {
  top: 50%;
  width: auto;
  bottom: auto;
  display: flex;
  overflow: hidden;
  position: absolute;
  left: 28px !important;
  flex-direction: column;
}

@media (max-width: 767px) {
  .banner .swiper-pagination {
    flex-direction: row;
    top: auto;
    bottom: 24px;
    left: 50% !important;
    transform: translateX(-50%);
  }
}

.banner .swiper-pagination-bullet {
  opacity: 1;
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  display: block;
  border-radius: 0%;
  position: relative;
  margin: 0px !important;
  width: auto !important;
  height: auto !important;
  transition: all 0.3s linear;
  margin-bottom: 8px !important;
  background-color: transparent !important;
}

@media (max-width: 767px) {
  .banner .swiper-pagination-bullet {
    margin: 0 !important;
    margin-right: 8px !important;
  }
}

.banner .swiper-pagination-bullet::after {
  content: "";
  top: 100%;
  left: 50%;
  width: 1px;
  height: 0px;
  position: absolute;
  background-color: #fff;
  transform: translateX(-50%);
  transition: all 0.3s linear;
}

@media (max-width: 767px) {
  .banner .swiper-pagination-bullet::after {
    top: 50%;
    left: auto;
    right: -32px;
    transform: translateX(0);
    width: 0px;
    height: 1px;
  }
}

.banner .swiper-pagination-bullet-active {
  margin-bottom: 65px !important;
}

@media (max-width: 767px) {
  .banner .swiper-pagination-bullet-active {
    margin: 0px !important;
    margin-right: 40px !important;
  }
}

.banner .swiper-pagination-bullet-active::after {
  height: 60px;
}

@media (max-width: 767px) {
  .banner .swiper-pagination-bullet-active::after {
    width: 30px;
    height: 1px;
  }
}

.banner-content {
  text-align: center;
}

.banner-content-text {
  margin-bottom: 44px;
}

@media (max-width: 767px) {
  .banner-content-text {
    margin-bottom: 32px;
  }
}

.banner-content h2,
.banner-content p {
  color: #fff;
}

.banner-content h2 {
  font-size: 44px;
  line-height: 44px;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-family: "metro-regular";
}

@media (max-width: 767px) {
  .banner-content h2 {
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 6px;
  }
}

.banner-content p {
  font-size: 16px;
  max-width: 620px;
  margin: 0px auto;
  line-height: 19.36px;
}

@media (max-width: 767px) {
  .banner-content p {
    font-size: 14px;
    line-height: 18px;
    max-width: 100%;
  }
}

.footer {
  color: #fff;
  overflow: hidden;
  position: relative;
  padding-top: 100px;
  background-color: #0b0e16;
}

@media (max-width: 991px) {
  .footer {
    padding-top: 60px;
  }
}

.footer-top {
  display: flex;
  margin-bottom: 60px;
  align-items: center;
  flex-direction: column;
}

.footer-top p {
  opacity: 0.8;
  max-width: 620px;
  margin: 0px auto;
  text-align: center;
}

.footer-logo {
  width: 170px;
  position: relative;
  margin-bottom: 30px;
}

.footer-logo img {
  width: inherit;
  padding-bottom: 30px;
}

.footer-logo::after {
  content: "";
  top: 100%;
  left: 50%;
  position: absolute;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, rgba(196, 196, 196, 0) 0%, #ff9f2f 52.08%, rgba(196, 196, 196, 0) 100%);
  transform: translateX(-50%);
}

.footer-heading {
  font-size: 18px;
  font-weight: 600;
  line-height: 21px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.footer-bottom {
  padding-bottom: 100px;
}

@media (max-width: 991px) {
  .footer-bottom {
    padding-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .footer-contact {
    margin-bottom: 50px;
  }
}

.footer-copyright {
  text-align: center;
  padding: 30px 0px;
  border: 1px solid #363636;
}

.footer-copyright p {
  color: #656775;
  font-weight: 600;
  text-transform: uppercase;
}

.footer-info {
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
}

@media (max-width: 991px) {
  .footer-info {
    margin-bottom: 24px;
  }
}

.footer-info li {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.footer-info li span {
  margin-right: 10px;
  display: inline-block;
}

.footer-info li p {
  margin: 0;
  opacity: 0.7;
  text-transform: lowercase;
}

.footer-social-link {
  padding: 0;
  display: flex;
  align-items: center;
}

.footer-social-link li {
  margin-right: 24px;
}

.footer-social-link li:nth-last-child(1) {
  margin: 0px;
}

.footer-fields {
  display: grid;
  row-gap: 15px;
  column-gap: 20px;
  margin-bottom: 24px;
  grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 575px) {
  .footer-fields {
    gap: 12px;
    grid-template-columns: 1fr;
  }
}

.footer-contact .button {
  color: #0b0e16;
  font-weight: 600;
  padding: 16px 42px;
  background-color: #fff;
}

.footer-contact .button:hover {
  color: #fff;
  background-color: transparent;
}

.footer-contact .button:hover::after {
  background-color: transparent;
}
/*# sourceMappingURL=main.css.map */